${question.content}

package com.kienroro.leetcode.editor.en;

public class $!velocityTool.camelCaseName(${question.titleSlug}) {
    public static void main(String[] args) {
        $!velocityTool.camelCaseName(${question.titleSlug}) outer = new $!velocityTool.camelCaseName(${question.titleSlug})();
        Solution solution = outer.new Solution();

        // TODO: Setup local test data here.
        // Example:
        // int[] nums = {2, 7, 11, 15};
        // int target = 9;
        // int[] result = solution.twoSum(nums, target);
        // System.out.println(java.util.Arrays.toString(result));
    }

    ${question.code}
}
